.entrar{
    background-color: tomato;
    border-bottom: 0cm;
    color: blanchedalmond;
}
.orange{
    color: tomato;
}
.cuenta{
    background-color: forestgreen;
    border-bottom: 0cm;
    color: blanchedalmond;
}

.perehod {
  
    width: 350px;
}
